[submodule "voidy-bootstrap"]
	path = voidy-bootstrap
	url = git@github.com:sanjayankur31/voidy-bootstrap.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git@github.com:getpelican/pelican-plugins.git
